@import url(//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);

@font-face {
	font-family: "Game of Thrones";
	src: url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.eot");
	src: url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.woff") format("woff"), url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.svg#Game of Thrones") format("svg");
}

canvas {
	background-image: url(images/background.jpg);
	background-size: cover;
	border: 1px solid black;
}

.section {
	text-align: center;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: url(images/welcomebg.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#signUp,
#login,
#about,
#configuration,
#game {
	display: none;
	text-align: center;
}

#welcome {
	display: block;
	text-align: center;
}

#userLogin,
#inGame {
	display: none;
}

#currentImg {
	font-weight: bold;
}

p {
	color: #f8d7c5;
	padding: 10;
	text-align: center;
	font-size: 24px;
}

h1,
h2 {
	font-family: "Game of Thrones";
	font-size: 72px;
	font-weight: 900;
	text-transform: uppercase;
	color: #f8d7c5;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	-webkit-text-fill-color: transparent;
	margin-bottom: 2%;
	animation: neon 2.0s ease-in-out infinite alternate;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #f8d7c5;
}

@keyframes neon {
	0% {
		text-shadow: 0 0 20px #ffe91f, 0 0 40px #fb8435, 0 0 60px #000000;
	}

	50% {
		text-shadow: 0 0 20px #ff4c0b, 0 0 40px #fff2e9e5, 0 0 60px #fff700;
	}

	100% {
		text-shadow: 0 0 20px #f79d0c, 0 0 40px #d8f616, 0 0 60px #000000;
	}
}

h2 {
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	margin: 20px;
}

label {
	color: #f8e2d7;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

menu {
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
	margin: 0;
	padding: 0;
}

menu li {
	float: left;
}

menu li a {
	font-family: "Game of Thrones";
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;

}

menu li a:hover:not(.active) {
	background-color: #111;
	text-decoration: none;
	color: #FFA500;
	z-index: 1;
	transition: color 0.3s ease;
}

menu li a:hover {
	color: #FFF;
}

menu li::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	transform: scale(0, 1);
	transform-origin: left;
	transition: transform 0.3s ease;
}

menu li:hover::before {
	transform: scale(1, 1);
}

menu li.logo {
	float: left;
	border-style: ridge;
	border-color: #00000063;
}

menu li.right {
	float: right;
}

.content {
	height: 400px;
	width: 700px;
	overflow: hidden;
	position: relative;
}

.content .images {
	height: 100%;
	width: 100%;
}

.images img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.content .slide {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: 2px solid white;
	height: 45px;
	width: 45px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.1);
	text-align: center;
}

.welcome span {
	color: red;
}

p a {
	color: black;
	text-decoration: none;
}

button {
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	font-weight: 600;
	margin: 0 10px;
	width: 200px;
	padding: 10px 0;
	box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
	transition: 0.4s;
}

.reg {
	font-family: "Game of Thrones";
	color: white;
	background-color: #333;
}

.log {
	font-family: "Game of Thrones";
	color: #333;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid#333;
}

.reg:hover {
	color: #333;
	background-color: #FFA500;
	box-shadow: 0 0 20px rgb(204, 23, 3);
}

.log:hover {
	color: white;
	background-color: #FFA500;
	box-shadow: 0 0 20px rgb(204, 23, 3);
}

button:hover {
	color: white;
	box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
	background-color: rgba(104, 85, 224, 1);
}

#success_message {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "hind", sans-serif;
	text-decoration: none;
}

.login {
	background: #121212;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form {
	width: 470px;
	background: #202020a8;
	padding: 30px 60px;
	text-align: center;
	align-items: stretch;
	justify-content: center;
	margin: auto;
}

.login-form h6 {
	color: #f1f1f1;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.logo {
	height: 50px;
	text-align: center;
}

.logo img {
	height: 50px;
}

.textbox {
	width: 100%;
	height: 50px;
	position: relative;
	margin-top: 15px;
}

.textbox input {
	width: 100%;
	height: 50px;
	border: none;
	background: #2b2b2b;
	padding: 0 15px;
	font-size: 16px;
	outline: none;
	color: #f4f4f4;
}

.textbox input:focus {
	background: #484848 !important;
}

.check-message {
	position: absolute;
	top: 50%;
	right: 10px;
	color: #fff;
	text-transform: uppercase;
	transform: translateY(-50%);
}

.textbox input:focus+.check-message {
	display: none;
}

.options {
	margin-top: 15px;
	color: #f4f4f480;
	overflow: hidden;
	font-size: 14px;
}

.options a {
	color: #f4f4f480;
	font-size: 14px;
	float: right;
}

.login-btn {
	width: 100%;
	height: 50px;
	margin-top: 30px;
	background: #191919;
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	transition: .3s linear;
}

.login-btn.active {
	background: #037bee;
	color: #fff;
}

.login-btn.active:hover {
	opacity: .7;
}

.hidden {
	display: none;
}

.privacy-link {
	text-align: center;
	margin-top: 35px;
}

.privacy-link a {
	color: #f1f1f1;
	font-size: 14px;
}

.dont-have-account {
	font-size: 14px;
	text-align: center;
	color: #f4f4f480;
	margin: 20px 0;
}

.dont-have-account a {
	color: #f1f1f1;
}

@media screen and (max-width:470px) {
	body {
		background: #202020;
	}

	.login-form {
		width: 100%;
		padding: 0 15px;
	}
}

dialog::backdrop {
	background: repeating-linear-gradient(30deg,
			rgba(24, 194, 236, 0.2),
			rgba(24, 194, 236, 0.2) 1px,
			rgba(24, 194, 236, 0.3) 1px,
			rgba(24, 194, 236, 0.3) 20px);
	backdrop-filter: blur(2px)
}

@keyframes animate-top {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

.animate {
	animation-name: animate-top;
	animation-duration: 0.4s;
}

.bcgrnd {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: none;
	border: none;
}

.modal-content {
	position: absolute;
	top: 10%;
	left: 10%;
	background-color: transparent;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	backdrop-filter: blur(8px)
}

.modal-header {
	padding: 2px 16px;
	background-color: #202020d2;
	color: #FFF;
}

.close {
	color: #FFF;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.modal-body {
	padding: 2px 16px;
	margin: auto;
	text-align: center;
}

.container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 3rem;
}

.styled-table {
	border-collapse: collapse;
	margin: auto;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
	background-color: #333;
	color: #ffffff;
}

.styled-table th,
.styled-table td {
	padding: 12px 15px;
}

.styled-table tbody tr {
	background-color: #f3f3f3;
	color: #202020a8;
}

.styled-table tbody tr.active-row {
	font-weight: bold;
	background-color: rgb(251, 251, 188);
}

table input[type=range] {
	/* -webkit-appearance: none; */
	width: 100%;
	height: 4px;
	background: #333;
	border-radius: 10px;
	outline: none;
	margin: 10px 0;
}

table input[type=range]:focus {
	outline: none;
}

table input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	background: #ff8c00;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 0 2px #fff;
}

table input[type=range]::-moz-range-thumb {
	width: 14px;
	height: 14px;
	background: #ff8c00;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 0 2px #fff;
}

table {
	justify-content: center;
	text-align: center;
	margin: auto;
	background-color: #202020a8;
	border-radius: 10px;
	overflow: hidden;
}

td {
	padding: 15px 50px;
}

.image-container {
	position: relative;
	display: inline-block;
}

.image-container img {
	display: block;
	width: 60%;
	height: 60%;
	margin: auto;
}

.image-container input[type="text"] {
	position: absolute;
	bottom: 30%;
	left: 30%;
	width: 40%;
	padding: 10px;
	border: transparent;
	background-color: transparent;
	box-sizing: border-box;
	text-align: center;
	align-items: center;
}

.image-container input[type="text"]:focus {
	background-color: transparent;
	border: transparent;
}

.radio-container {
	display: flex;
	align-items: center;
}

.radio-container label {
	position: relative;
	padding-left: 9px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	user-select: none;
	display: inline-block;
}

table label {
	display: inline-block;
	font-size: 18px;
	color: #f8e2d7;
	cursor: pointer;
}

table input[type="radio"] {
	display: block;
	margin: 0 auto;
}

input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
	width: 125px;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
	padding-left: 30px;
	background-color: #000000bd;
	color: #fff;
}

input[type=number]:focus {
	outline: none;
	border-color: #ff8c00;
	box-shadow: 0 0 0 2px #ff8c00;
}

#messageResult {
	text-align: center;
	font-size: 36px;
	color: #f8e2d7;
}